/* Classic App Switcher Styles */
.classic-app-switcher .classic-switcher-box {
    padding: 0 0.684em;
    spacing: 0.409em;
}

.classic-app-switcher .classic-switcher-icon {
    icon-size: 1.091em;
    -st-icon-style: symbolic;
}

.classic-app-switcher .classic-switcher-label {
    max-width: 10.25em;
}

/* Classic App Switcher Pop-up Menu Styles */
.classic-app-switcher-menu {
    max-width: 20.45em;
}

.classic-app-switcher-menu .popup-menu-item {}

.classic-app-switcher-menu .popup-separator-menu-item StLabel {
    font-weight: 700;
    font-size: 0.818em;
}

.classic-app-switcher-menu .popup-separator-menu-item StLabel:ltr {
    margin-right: 8px;
}

.classic-app-switcher-menu .popup-separator-menu-item StLabel:rtl {
    margin-left: 8px;
}

.classic-app-switcher-menu .popup-menu-item .popup-menu-icon {
    icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.classic-app-switcher-menu .popup-menu-item .window-count {
    border-radius: 999px;
    min-width: 1.75em;
    background-color: -st-accent-color;
    padding: 0 0.409em;
    font-size: 0.818em;
    font-variant-numeric: tabular-nums;
    font-weight: 700;
    text-align: center;
    color: -st-accent-fg-color;
    border: 1px solid transparent;
}

/* Dim window-count badge styling if all app windows are minimized */
.classic-app-switcher-menu .popup-menu-item.all-minimized .window-count {
    background-color: st-transparentize(st-mix(-st-accent-color, #4a4a4f, 85%), 0.5);
    color: st-transparentize(-st-accent-fg-color, 0.2);
}
